{% macro job_stat_tag(status) -%}
  {% if status == 'pending' %}
    <span class="tag is-primary">Pending</span>
  {% elif status == 'running' %}
    <span class="tag is-info">Running</span>
  {% elif status == 'failed' %}
    <span class="tag is-danger">Failed</span>
  {% elif status == 'completed' %}
    <span class="tag is-success">Completed</span>
  {% else %}
    <span class="tag is-dark">{{ job.status|capitalize }}</span>
  {% endif %}
{%- endmacro %}
{% macro online_stat_tag(status) -%}
  {% if status == 'online' %}
    <span class="tag is-success">Online</span>
  {% elif status == 'offline' %}
    <span class="tag is-danger">Offline</span>
  {% elif status == 'unknown' %}
    <span class="tag is-warning">Unknown</span>
  {% else %}
    <span class="tag is-dark">{{ job.status|capitalize }}</span>
  {% endif %}
{%- endmacro %}
