{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
  <h1 class="title">Onboarding Document</h1>
  <div class="content">
    <h1>Welcome</h1>
    <p>
      This is the onboard page of <a href="/">FPGA.S</a>, an integrated FPGA job
      management interface.
      <br>
      Use this panel to monitor device activity, manage job
      submissions, and review results from completed tasks.
    </p>
    <h2>Navigation</h2>
    <ul>
      <li>
        <a href="/stat">Stat</a>: Inspect the current FPGA device status,
        active workloads, and queued jobs in real time. Useful for verifying
        resource availability before adding new tasks.
      </li>
      <li>
        <a href="/queue">Queue</a>: Configure and submit new jobs. Specify device
        targets, bitstreams, and runtime parameters. Queue entries will be
        processed sequentially(FIFO) according to availability.
      </li>
      <li>
        <a href="/job">Job</a>: Retrieve logs and output data for each jobs.
        Each record includes timestamps, resource metrics, and compilation or deployment summaries.
        You will be able to see detailed logs and communicate with the job using the terminal
        when you click the 'Show' link of each job.
      </li>
    </ul>
    <h2>Instructions</h2>
    <p>
      Select your device at the dropdown right top of the navbar.
      If there is no device listed, or if the desired device is not present,
      please click the 'refresh' button next to it. If you still do not see the device
      even after refreshing, please contact the administrator through <a>here</a>.
    </p>
    <p>
      Each dot in the dropdown represents specific status the device is in. It is highly recommended to use
      the green-dotted device. The specific meaning for each dot color follows.
    </p>
    <ul>
      <li>
        <span class="has-text-success">Green</span>: indicates there are none/only a number of jobs waiting.
        The job will have no to minimal wait time before it gets processed.
      </li>
      <li>
        <span class="has-text-warning">Yellow</span>: indicates there are few jobs waiting, and it may take a
        small amount of time before processing the job.
      </li>
      <li>
        <span class="has-text-danger">Red</span>: indicates there are many jobs waiting, and it may take a lot
        of time before processing the job.
      </li>
      <li>
        <span class="has-text-white">White</span>: indicates the server cannot get the information for that device.
        If the white dot persists, please contact administrator <a>here</a>.
      </li>
    </ul>
    <p>
      After selecting the device, all menus will be shown according to the device. Note that only the information for
      the selected device is shown.
    </p>
    <p>
      If you wish to check ALL the jobs no matter the device, please go ahead and click the 'show all' button
      on the right top side of the job page.
      Please do note that for other pages except for the job page, showing all devices are NOT SUPPORTED by design.
    </p>
    <p>
      If you are willing to log out, click your username in the namespace(next to 'Logged in as').
      A modal will pop up; click 'Log out'.
      Or, you can click <a href="/logout">here</a>.
    </p>
    <h2>Notes</h2>
    <p>This app uses Digilent Adept for the actual programming / running jobs.</p>
    <p>
      The source code is availiable in the <a href="https://github.com/7591yj/fpga-server">GitHub repository</a>.
    </p>
  </div>
{% endblock %}
