{% extends "base.html" %}
{% from "macros/tags.html" import job_stat_tag %}
{% block title %}- Jobs{% endblock %}
{% block content %}
  <h2 class="title is-2">Jobs</h2>
  <div class="container">
    <table class="table" style="width:100%">
      <thead>
        <tr>
          <th>
            <abbr title="Bitfile name">Name</abbr>
          </th>
          <th>
            <abbr title="Status">Stat</abbr>
          </th>
          <th>
            <abbr title="Queued by">Usr</abbr>
          </th>
          <th>
            <abbr title="Staying in the queue for">Time</abbr>
          </th>
          <th>Job Id</th>
          <th>Cancel</th>
          <th>Show</th>
        </tr>
      </thead>
      <tbody>
        {% for job in jobs %}
          <tr>
            <td>{{ job.name }}</td>
            <td>{{ job_stat_tag(job.status) }}</td>
            <td>{{ job.user }}</td>
            <td>{{ job.time }}</td>
            <td>{{ job.id }}</td>
            <td>
              <a class="has-text-danger" href="#" id="job-cancel-a">Cancel</a>
              <div class="modal" id="job-cancel-modal">
                <div class="modal-background"></div>
                <div class="modal-content">
                  <div class="box">
                    <h2 class="subtitle">Cancel Job?</h2>
                    <button class="button is-primary">Confirm</button>
                    <button class="button">Cancel</button>
                  </div>
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
              </div>
            </td>
            <td>
              <a href="{{ url_for('webui.job_detail', job_id=job.id) }}">Show</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <label class="checkbox">
      <input type="checkbox" />
      Show All
    </label>
  </div>
  <section class="section">
    <div class="mb-4">
      <div class="icon-text">
        <span class="icon has-text-info">
          <i class="fas fa-info-circle"></i>
        </span>
        <span><strong>Information</strong></span>
      </div>
      <p class="block">
        Check the 'Show All' button to query every job no matter the device.
        <br />
        Please use this only when needed, as querying big amount of jobs might slow down the server when repeated often.
      </p>
    </div>
    <div class="icon-text has-text-warning">
      <span class="icon">
        <i class="fas fa-exclamation-triangle"></i>
      </span>
      <span>Please do double check before job cancelation.</span>
    </div>
  </section>
{% endblock %}
