{% extends "base.html" %}
{% from "macros/_tags.html" import job_stat_tag %}
{% from "macros/_tags.html" import online_stat_tag %}
{% block title %}- Stat{% endblock %}
{% block content %}
  <h2 class="title is-2">Device Status</h2>
  <div class="columns is-4">
    <div class="column is-one-third">
      <div class="level">
        <div class="level-left">
          <h2 class="subtitle level-item">Device Info</h2>
        </div>
        <div class="level-right">
          <p class="level-item">{{ online_stat_tag("online") }}</p>
        </div>
      </div>
      <div id="stats-container">
        <table class="table" style="width: 100%;">
          <tbody>
            <tr>
              <th>Device:</th>
              <td>{{ device.device_name }} ({{ device.serial_number }})</td>
            </tr>
            <tr>
              <th>Device ID:</th>
              <td>{{ device.device_id }}</td>
            </tr>
            <tr>
              <th>Transport Type:</th>
              <td>{{ device.transport_type }}</td>
            </tr>
            <tr>
              <th>Product Name:</th>
              <td>{{ device.product_name }}</td>
            </tr>
            <tr>
              <th>User Name:</th>
              <td>{{ device.device_name }}</td>
            </tr>
            <tr>
              <th>Serial Number:</th>
              <td>{{ device.serial_number }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="column">
      <h2 class="subtitle">Queue List</h2>
      <div id="queue-container">
        <table class="table" style="width:100%">
          <thead>
            <tr>
              <th>#</th>
              <th>
                <abbr title="Bitfile name">Name</abbr>
              </th>
              <th>
                <abbr title="Status">Stat</abbr>
              </th>
              <th>
                <abbr title="Queued by">Usr</abbr>
              </th>
              <th>
                <abbr title="Staying in the queue for">Time</abbr>
              </th>
              <th>Job Id</th>
            </tr>
          </thead>
          <tbody>
            {% for job in jobs %}
              {% if job.status == "queued" %}
                <tr>
                  <th>{{ loop.index }}</th>
                  <td>{{ job.name }}</td>
                  <td>{{ job_stat_tag(job.status) }}</td>
                  <td>{{ job.user }}</td>
                  <td>{{ job.time }}</td>
                  <td>{{ job.id }}</td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
