{% from "macros/dot.html" import queue_dot %}
{% from "macros/_logo.html" import logo %}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      {{ logo("nav") }}
      FPGA.S
    </a>
  </div>
  <div class="navbar-start">
    <a class="navbar-item" href="/stat">
      Status
    </a>
    <a class="navbar-item" href="/queue">
      Queue
    </a>
    <a class="navbar-item" href="/job">
      Job
    </a>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div>
        <span>Logged in as: </span>
        <a href="#" id="logout-a"><strong>Anon</strong></a>
        <div class="modal" id="logout-modal">
          <div class="modal-background"> </div>
          <div class="modal-content">
            <div class="box">
              <h2 class="subtitle">Log out?</h2>
              <button class="button is-primary">Confirm</button>
              <button class="button">Cancel</button>
            </div>
          </div>
          <button class="modal-close is-large" aria-label="close"></button>
        </div>
      </div>
      <div class="dropdown" id="dropdown">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu" id="dropdown-trigger">
            <div>
              <span>Device 0</span>
              {{ queue_dot(0) }}
            </div>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <a href="#" class="dropdown-item is-active">
              <div class="is-flex is-flex-direction-row is-justify-content-space-between is-align-items-center">
                Device 0
                <div class="is-flex is-flex-direction-row is-justify-content-space-around is-align-items-center">
                  <span>0</span>
                  {{ queue_dot(0)}}
                </div>
              </div>
            </a>
            <a href="#" class="dropdown-item">
              <div class="is-flex is-flex-direction-row is-justify-content-space-between is-align-content-center">
                Device 1
                <div class="is-flex is-flex-direction-row is-justify-content-space-around is-align-items-center">
                  <span>3</span>
                  {{ queue_dot(1) }}
                </div>
              </div>
            </a>
            <a href="#" class="dropdown-item">
              <div class="is-flex is-flex-direction-row is-justify-content-space-between is-align-content-center">
                Device 2
                <div class="is-flex is-flex-direction-row is-justify-content-space-around is-align-items-center">
                  <span>8</span>
                  {{ queue_dot(2) }}
                </div>
              </div>
            </a>
            <a href="#" class="dropdown-item">
              <div class="is-flex is-flex-direction-row is-justify-content-space-between is-align-content-center">
                Device 3
                <div class="is-flex is-flex-direction-row is-justify-content-space-around is-align-items-center">
                  <span></span>
                  {{ queue_dot() }}
                </div>
              </div>
            </a>
            <hr class="dropdown-divider" />
            <a href="#" class="dropdown-item"> If your device is not listed </a>
          </div>
        </div>
      </div>
      <div class="buttons">
        <a class="button is-link" id="refresh-devices">
          <strong>Refresh</strong>
        </a>
      </div>
    </div>
  </div>
</nav>
