{% from "macros/_dot.html" import queue_dot %}
{% from "macros/_logo.html" import logo %}
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      {{ logo("nav") }}
      FPGA.S
    </a>
  </div>
  <div class="navbar-start">
    <a class="navbar-item" href="/stat">
      Status
    </a>
    <a class="navbar-item" href="/queue">
      Queue
    </a>
    <a class="navbar-item" href="/job">
      Job
    </a>
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      <div>
        <span>Logged in as: </span>
        <a href="#" id="logout-a"><strong>{{ username or "Anon" }}</strong></a>
        <div class="modal" id="logout-modal">
          <div class="modal-background"> </div>
          <div class="modal-content">
            <div class="box">
              <h2 class="subtitle">Log out?</h2>
              <button class="button is-primary">Confirm</button>
              <button class="button">Cancel</button>
            </div>
          </div>
          <button class="modal-close is-large" aria-label="close"></button>
        </div>
      </div>
      {% include "partials/_device_dropdown.html" %}
      <div class="buttons">
        <a class="button is-link" id="refresh-devices">
          <strong>Refresh</strong>
        </a>
      </div>
    </div>
  </div>
</nav>
